// Specific CSS for your home-page

h3 {
  font-size: 28px;
  color: #023E8A;
  font-weight: bolder;
}

body {
  background-color: #ffffff;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}

// .interim-color {
//   color: #0277B6;
// }

// .conseil-color {
//   color: #0096C7;
// }

// .accompagnement-color {
//   color: #06B4D8;
// }
