// Specific CSS for your home-page

h1 {
  font-weight: bolder;
}

h3 {
  font-size: 28px;
  color: #023E8A;
  font-weight: bolder;
}

body {
  background-color: #ffffff;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}
