.legal-TCM {
  margin: 0 15vh;
  margin-bottom: 10vh;
  h2, h4 {
    color: #023E8A;
  }
  h2 {
    text-align: center;
    margin: 5vh auto;
    padding-bottom: 10px;
    border-bottom: #023E8A solid 0.5px;
  }
  p{
    padding-left: 40px;
  }
}
