<div class="navbar-TCM">
    <div class="navbar-TCM-container">
      <h1 class="knockout me-auto">Tetraktys Concept Management</h1>
      <div class="menu">
        <ul class="list-inline tabs-underlined">
          <li>
            <a href="/" class="tab-underlined active"><i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <a href="realisations" class="tab-underlined ">Réalisations</a>
          </li>
          <li>
            <a href="singularity" class="tab-underlined">Singularités</a>
          </li>
          <li>
            <a href="about" class="tab-underlined">A propos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
