<div class="container">


  <p>TETRAKTYS CONCEPT MANAGEMENT est un cabinet de conseil stratégique exécutant des missions de management de transition, de conseil et d’accompagnement centrées sur l’accélération de croissance et la transformation par l’innovation.</p>

  <p>Nos interventions nous permettent de mettre en oeuvre notre concept original de management stratégique qui relie et met en synergies toutes les fonctions de l’entreprise en plaçant l’innovation au coeur du réacteur de votre croissance.</p>

  <p>Les dix points de la Tetraktys représentent chacun une fonction ou une mission de l’entreprise au sens large. <br>
  Bien maîtrisés, chacun de ces points est, dans notre vision, un « asset » de l’entreprise et participe à la fois au bon fonctionnement collectif, au bien être au travail des salariés et à la création de valeur actionnariale. <br>
  L’ensemble des dix points décrivant l’entreprise doivent se lire et être mis en œuvre dans l’ensemble plus global des valeurs exprimées dans les 17 Obligations de Développement Durable de l’ONU. Ces valeurs (tout comme la qualité de vie au travail) sous-tendent toutes les actions de l’entreprise et déterminent non seulement sa RSE, mais son existence sociale.</p>

  <p>Nos interventions sont caractérisées par la mise en place de solutions structurelles (M&A, Restructuring notamment) optimisant les intérêts de toutes les parties dans des environnements complexes, voire financièrement très tendus (mandats ad hoc avec deadline des créanciers).</p>

  <p>Tetraktys Concept Management est noté « Excellent » dans la catégorie
  « Restructuring & entreprises en difficulté - Chief Restructuring Officer »
  par le Magazine Décideurs dans son édition 2020-2021
  du Guide « Stratégie, Réorganisation & Restructuration ».</p>

<%# Ajouter PDF %>

</div>
