<div class="sing-TCM">

  <h2>Croissance & Innovation</h2>

  <div class='about-card'>
    <img url="assets/RH_photo.jpg" alt="Photo de Rudolph Hidalgo" class='avatar-large'>
    <p>Tetraktys Concept Management est noté « Excellent » dans la catégorie « Restructuring & entreprises en difficulté - Chief Restructuring Officer » par le Magazine Décideurs dans son édition 2020-2021 du Guide « Stratégie, Réorganisation & Restructuration ».</p>

    <a href="assets/TCM_mag_dec.pdf" target="_blank" class='btn btn-TCM vw-10'>voir article</a>
  </div>


  <h3>Les dix points de la Tetraktys représentent chacun une fonction ou une mission de l’entreprise au sens large.</h3>
  <div class='tetra-TCM-cont'>
    <img src="assets/tetraktys-sing.jpg" alt="les 10 points de la Tetraktys" class='TCM-tetra'>
    <div class='tetra-cards-cont'>
      <div class="tetra-card blue ">Direction Générale</div>
      <div class="tetra-card blue ">Crise et transformation</div>
      <div class="tetra-card blue ">Sécurité</div>
      <div class="tetra-card gray ">Management</div>
      <div class="tetra-card gray ">Finance</div>
      <div class="tetra-card gray ">Capital humain</div>
      <div class="tetra-card gray ">Stratégie de marque</div>
      <div class="tetra-card gray ">Communication</div>
      <div class="tetra-card gray ">Systèmes d’information</div>
      <div></div>
      <div class="tetra-card yellow ">Innovation</div>
    </div>
  </div>


  <p> Bien maîtrisés, chacun de ces points est, dans notre vision, un « asset » de l’entreprise et participe à la fois au bon fonctionnement collectif, au bien être au travail des salariés et à la création de valeur actionnariale. <br>
  L’ensemble des dix points décrivant l’entreprise doivent se lire et être mis en œuvre dans l’ensemble plus global des valeurs exprimées dans les 17 Obligations de Développement Durable de l’ONU. Ces valeurs (tout comme la qualité de vie au travail) sous-tendent toutes les actions de l’entreprise et déterminent non seulement sa RSE, mais son existence sociale.</p>

  <p>Nos interventions sont caractérisées par la mise en place de solutions structurelles (M&A, Restructuring notamment) optimisant les intérêts de toutes les parties dans des environnements complexes, voire financièrement très tendus (mandats ad hoc avec deadline des créanciers).</p>

</div>
