<div class="container">

  <h1>This is the hompage of TCM - new website</h1>

  <div class="d-flex justify-content-around">

    <div class='home-cards interim-color'>
      <h3>Intérim management</h3>
      <ul>
        <div class='info-container'>
          <div>
            <li>Direction Générale</li>
            <i class="fa-solid fa-star"></i>
          </div>
          <div>
            <li>Direction Innovation, Direction Financière, Secrétariat Général Groupe</li>
            <i class="fa-solid fa-people-group"></i>
          </div>
          <div>
            <li>Pilotage de deals complexes nationaux ou internationaux</li>
            <i class="fa-solid fa-globe"></i>
          </div>
        </div>
      </ul>
    </div>

    <div class='home-cards conseil-color'>
      <h3>Conseil</h3>
      <ul>
        <div class='info-container'>
          <div>
            <li>Innovation</li>
            <i class="fa-solid fa-lightbulb"></i>
          </div>
          <div>
            <li>Synergies</li>
            <i class="fa-solid fa-bolt"></i>
          </div>
          <div>
            <li>Diplomatie d’Entreprise</li>
            <i class="fa-solid fa-people-arrows-left-right"></i>
          </div>
          <div>
            <li>Digitalisation</li>
            <i class="fa-solid fa-laptop"></i>
          </div>
        </div>
      </ul>
    </div>

    <div class='home-cards accompagnement-color'>
      <h3>Accompagnement</h3>
      <ul>
        <div class='info-container'>
          <div>
            <li>Animation de séminaires</li>
            <i class="fa-solid fa-calendar-check"></i>
          </div>
          <div>
            <li>Coaching humaniste pour dirigeant (Président, Directeur Général, CFO…)</li>
            <i class="fa-solid fa-business-time"></i>
          </div>
        </div>
      </ul>
    </div>

  </div>
</div>
