<div class="container">


  <div class="d-flex justify-content-around">

    <div class='home-cards interim-color'>
      <h3>Intérim management</h3>
      <ul>
        <div class='info-container'>
          <div>
            <i class="fa-solid fa-star"></i>
            <p>Direction Générale</p>
          </div>
          <div>
            <i class="fa-solid fa-people-group"></i>
            <p>Direction Innovation, Direction Financière, Secrétariat Général Groupe</p>
          </div>
          <div>
            <i class="fa-solid fa-globe"></i>
            <p>Pilotage de deals complexes nationaux ou internationaux</p>
          </div>
        </div>
      </ul>
    </div>

    <div class='home-cards conseil-color'>
      <h3>Conseil en stratégie</h3>
      <ul>
        <div class='info-container'>
          <div>
            <i class="fa-solid fa-lightbulb"></i>
            <p>Innovation</p>
          </div>
          <div>
            <i class="fa-solid fa-bolt"></i>
            <p>Synergies</p>
          </div>
          <div>
            <i class="fa-solid fa-people-arrows-left-right"></i>
            <p>Diplomatie d’Entreprise</p>
          </div>
          <div>
            <i class="fa-solid fa-laptop"></i>
            <p>Digitalisation</p>
          </div>
        </div>
      </ul>
    </div>

    <div class='home-cards accompagnement-color'>
      <h3>Accompagnement</h3>
      <ul>
        <div class='info-container'>
          <div>
            <i class="fa-solid fa-calendar-check"></i>
            <p>Animation de séminaires</p>
          </div>
          <div>
            <i class="fa-solid fa-business-time"></i>
            <p>Coaching humaniste pour dirigeant (Président, Directeur Général, CFO…)</p>
          </div>
        </div>
      </ul>
    </div>

  </div>
</div>
