<div class="legal-TCM">

  <h2>Mentions légales</h2>

  <h4>Conditions générales d'utilisation</h4>
  <p>Bienvenue sur le site internet www.tetraktys-cm.com. En vous connectant ou en utilisant notre site internet, vous reconnaissez avoir lu, compris, et accepté, sans limitation ni réserve, les présentes conditions générales d'utilisation.</p>

  <h4>Identité</h4>
  <p>
    Société éditrice du site internet, ci-après la « Société » :
    Dénomination : Tetraktys Concept Management <br>
    Adresse : 12 allée des plumassiers 77600 Bussy Saint Georges <br>
    Forme juridique : SASU Société par actions simplifiée à associé unique <br>
    Mail : rudolph.hidalgo@tetraktys-cm.com <br>
    Numéro RCS : 821 647 591 R.C.S. PARIS <br>
    Nom du responsable de la publication : Monsieur Rudolph HIDALGO <br>
  </p>

  <h4>Conception technique et développement du site internet</h4>
  <p>TO BE COMPLETED</p>

  <h4>L'hébergement du site internet est assuré par</h4>
  <p>TO BE COMPLETED</p>

  <h4>Liens hypertextes</h4>
  <h5>Activation des liens</h5>
  <p>La société décline formellement toute responsabilité quant aux contenus des sites vers lesquels elle offre des liens. Ces liens sont proposés aux utilisateurs de ce site internet. La décision d'activer les liens appartient exclusivement aux utilisateurs du site internet. La société peut modifier ou supprimer un lien sur son site internet à tout moment.</p>
  <h5>Autorisation des liens</h5>
  <p>
    Si vous souhaitez créer un lien hypertexte avec ce site internet, vous devez obtenir l'autorisation écrite et préalable de la direction de la société. <br>
    Les liens hypertextes établis en direction d'autres sites à partir de www.tetraktys-cm.com ne sauraient, en aucun cas, engager la responsabilité de la société. <br>
    Tout lien ou framing de ce site est strictement interdit et en conséquence, aucun élément figurant sur une page du site internet de la société ne peut être partiellement ou totalement, diffusé, transféré ou inséré sur un autre site internet, ni servir à créer des produits dérivés, sauf autorisation expresse de la direction de la société.
  </p>

  <h4>Droits de propriété intellectuelle et droits d'auteurs</h4>
  <p>
  La reproduction ou représentation, intégrale ou partielle, des pages, des données et de toute autre élément constitutif au site, par quelque procédé ou support que ce soit, est interdite et constitue, sans autorisation de l'éditeur, une contrefaçon. <br>
  Tous les éléments du site internet www.tetraktys-cm.com sont protégés par les droits de propriété intellectuelle. La reproduction et l'utilisation de tous documents publiés sur ce site sont exclusivement autorisés à des fins personnelles et privées et moyennant mention de la source. Toute reproduction, utilisation ou diffusion de copies réalisées à d'autres fins est expressément interdite et sanctionnée pénalement. <br>
  Le nom « nom de la société » est une marque déposée. Toute utilisation frauduleuse constitue une contrefaçon et est passible des sanctions pénales prévues aux articles L.716-1 et suivants du Code de la propriété intellectuelle.
  </p>

  <h4>Mises en garde</h4>
  <p>
    Les informations et recommandations disponibles sur ce site internet (« Informations ») sont proposées de bonne foi. Elles sont censées être correctes au moment où elles sont publiées sur le site. Toutefois, la société ne garantit pas le caractère exhaustif et l'exactitude de ces Informations. Vous assumez pleinement les risques liés au crédit que vous leur accordez. Ces Informations vous sont fournies à la condition que vous ou toute autre personne qui les recevez puissiez déterminer leur intérêt pour un objectif précis avant de les utiliser. En aucun cas, la société ne sera responsable des dommages susceptibles de résulter du crédit accordé à ces Informations ou de leur utilisation. Ces Informations ne doivent pas être considérées comme des recommandations pour l'utilisation d'informations, de produits, de procédures, d'équipements ou de formulations qui seraient en contradiction avec un brevet, un copyright ou une marque déposée. La société décline toute responsabilité, expresse ou implicite, si l'utilisation de ces Informations venait à contrevenir à un brevet, un copyright ou une marque déposée. <br>
    La société assure une actualisation régulière du site, mais décline toute responsabilité quant aux inexactitudes, erreurs ou omissions. <br>
    La société ne pourra être tenu responsable pour quelque dommage que ce soit résultant d'une information contenue sur ce site. <br>
    La société se réserve le droit de modifier à tout moment et sans préavis les présentes informations. De même, la société se réserve le droit de suspendre, d'interrompre ou d'annuler l'accès à tout ou partie du site en cas d'incidents techniques ou en cas de force majeure. <br>
    Les informations diffusées sur ce site ne sauraient en aucun cas être interprétées comme un démarchage ou une incitation à acquérir des valeurs mobilières de la société.
  </p>

  <h4>Droit applicable</h4>
  <p>Le site Internet et ses conditions d'accès et d'utilisation sont régis par le droit français. Tout différend relatif au dit site Internet sera soumis à la compétence exclusive des Tribunaux de Paris.</p>

  <h4>Mises à jour des conditions d'utilisation du site internet et loi applicable</h4>
  <p>La Société peut procéder à la mise à jour de ces conditions d'utilisation à tout moment. En conséquence, vous êtes invités à vous référer régulièrement aux dernières conditions d'utilisation en vigueur. Ces conditions d'utilisation sont soumises au droit applicable et relèvent de la compétence des tribunaux compétents.</p>

  <h4>Informations techniques</h4>
  <p>Il est rappelé que le secret des correspondances n'est pas garanti sur le réseau et qu'il appartient à chaque utilisateur d'Internet de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination d'éventuels virus circulant sur Internet.</p>

</div>
