<div class="real-TCM">

  <h2>Réalisations principales de TCM au cours des dernières années</h2>

  <div class="img-cont">
    <img src="assets/Hamleys.jpg" alt="" class="img">
  </div>
  <h3>Acquisition en 2012 puis la cession en 2016 de la marque de jouets iconique anglaise</h3>
  <div class="real-videos">
    <div>
      <i class="fa-solid fa-money-bill"></i>
      <p>L’acquisition, ou le grand saut stratégique</p>

    </div>
    <div>
      <i class="fa-solid fa-truck"></i>
      <p>Optimiser la gestion des franchisés et la Supply Chain</p>

    </div>
    <div>
      <i class="fa-solid fa-euro-sign"></i>
      <p>La cession, ou les contraintes de la crise</p>

    </div>

  </div>

  <div class="img-cont">
    <img src="assets/FCW1.jpg" alt="" class="img">
  </div>
  <h3>Relance de la marque de jouets iconique suisse</h3>
  <div class="real-videos">
    <div>
      <i class="fa-solid fa-money-bill-trend-up"></i>
      <p>La relance de Franz Carl Weber</p>

    </div>

  </div>

  <div class="img-cont">
    <img src="assets/CIAT.jpg" alt="" class="img">
  </div>
  <h3>CIAT (Compagnie Internationale André Trigano) – Les trois phases de la mission (2016 – 2020)</h3>
  <div class="real-videos">
    <div>
      <i class="fa-solid fa-file-circle-exclamation"></i>
      <p>Les enjeux du dossier</p>

    </div>
    <div>
      <i class="fa-solid fa-1"></i>
      <p>Restructuration financière & conditions de la relance</p>

    </div>
    <div>
      <i class="fa-solid fa-2"></i>
      <p>Restructuration industrielle & recentrage</p>

    </div>
    <div>
      <i class="fa-solid fa-3"></i>
      <p>Cession dans le contexte Coronavirus</p>

    </div>

  </div>

</div>
