<div class="sing-TCM">
  <h2>Une démarche originale</h2>
  <p>
    Notre démarche originale met l’innovation au coeur de votre Entreprise dans le respect de votre ADN et de vos valeurs. De ce fait, nous ne proposons que du sur-mesure : nous bannissons toute duplication de process ou de solution parce que votre situation est nécessairement singulière.
  </p>
  <div class='sing-card-cont'>
    <div class='sing-card'><p>Notre démarche repose d’abord sur l’écoute, la compréhension et l’analyse de vos besoins. Ensuite, nous savons trouver rapidement les propositions d’axes de travail adaptés à votre Entreprise et surtout à votre Timing.</p></div>
    <div class='sing-card'><p>Sur le chemin critique d’une croissance, durable et profitable, équilibrée au plan humain et au plan financier que nous dessinerons ensemble, notre valeur ajoutée réside dans notre capacité à réaligner sur un temps commun et pacifié l’ensemble des parties prenantes internes et externes de votre Entreprise. <br> Les solutions techniques que nous proposerons seront alors aisément mises en place. Sans ce réalignement préalable, elles risqueraient de ne représenter une solution que sur le très court terme, voire de générer davantage d’entropie.</p></div>
    <div class='sing-card'><p>Nous mettons au service de cette vision originale et qui fait ses preuves une maîtrise croisée de la stratégie, du Leadership et du management de haut niveau, de l’innovation active et de la finance.</p></div>
  </div>

  <h3>L'importance de la formation</h3>
  <div class="sing-videos">
    <div class="video-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <p>Casser le mur de verre par l’apprentissage et la transformation</p>
      <button type="button" class="btn btn-TCM" data-bs-toggle="modal" data-bs-target="#learningModal">
        voir vidéo
      </button>
    </div>
    <div class="video-card">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <p>Acquérir la transversalité par la formation</p>
      <button type="button" class="btn btn-TCM" data-bs-toggle="modal" data-bs-target="#transversModal">
        voir vidéo
      </button>
    </div>
    <div class="video-card">
      <i class="fa-solid fa-signs-post"></i>
      <p>La valeur de la formation : être acteur de son parcours</p>
      <button type="button" class="btn btn-TCM" data-bs-toggle="modal" data-bs-target="#pathModal">
        voir vidéo
      </button>
    </div>
  </div>

  <h3>Un Manager de transition singulier</h3>
  <div class="sing-videos">
    <div class="video-card">
      <i class="fa-solid fa-star"></i>
      <p>Parcours de Rudolph Hidalgo</p>
      <button type="button" class="btn btn-TCM" data-bs-toggle="modal" data-bs-target="#rudolphModal">
        voir vidéo
      </button>
    </div>
    <div class="video-card">
      <i class="fa-solid fa-fire-flame-curved"></i>
      <p>L’apport de la pratique des arts martiaux</p>
      <button type="button" class="btn btn-TCM" data-bs-toggle="modal" data-bs-target="#karateModal">
        voir vidéo
      </button>
    </div>
  </div>

  <div class="modal fade" id="learningModal" tabindex="-1" aria-labelledby="learningModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <iframe class="video-TCM"src="https://www.youtube.com/embed/watch?v=3ujfPXecbWdcejEZ" ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="transversModal" tabindex="-1" aria-labelledby="transversModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <iframe class="video-TCM"src="https://www.youtube.com/embed/watch?v=3ujfPXecbWdcejEZ" ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="pathModal" tabindex="-1" aria-labelledby="pathModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <iframe class="video-TCM"src="https://www.youtube.com/embed/watch?v=3ujfPXecbWdcejEZ" ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rudolphModal" tabindex="-1" aria-labelledby="rudolphModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <iframe class="video-TCM"src="https://www.youtube.com/embed/watch?v=3ujfPXecbWdcejEZ" ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="karateModal" tabindex="-1" aria-labelledby="karateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <iframe class="video-TCM"src="https://www.youtube.com/embed/watch?v=3ujfPXecbWdcejEZ" ></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
