.banner-TCM {

  padding: 20px 15vh;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                    url("back-TCM.jpg");
  background-size: cover;
  margin-bottom: 80px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
}
