.btn-TCM {
  background-color: #bde0fe;
  color: black;
  width: 40%;
  margin: 1vh auto 0 auto;
  border-radius: 8px;
}

.btn-TCM:hover {
  background-color: #023E8A;
  color: #ffffff;
}

.btn-TCM:focus {
  outline: none;
  box-shadow: none;
}
