.home-cards {
  text-align: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  width: 350px;
  border: #023E8A solid 1px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 20px;
  margin: 40px 0px;
  font-size: 20px;
  color: #023E8A;
  background-color: #F8F9FA;
}

.home-cards ul {
  list-style-type: none;
  padding-left: 0px;
}

.home-cards li {
  margin: 10px 0px;
}

.home-cards h3 {
  margin: 20px 0px;
}

.sing-card-cont {
  display: flex;
  justify-content: space-around;
}

.sing-card {
  border: #023E8A solid 1px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 20vw;
  height: 50vh;
  padding: 10px 20px;
  margin: 40px 0px;
  background-color: #ffffff;
  color: #023E8A;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sing-card:hover {
  background-color: #023E8A;
  color: #ffffff;
  p {
    display: none;
  }
}

.video-card {
  border: #023E8A solid 1px;
  background-color: #F8F9FA;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 5vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  p {
    color: #6c757d;
  }
  :last-child {
    margin-top: auto;
  }
}

.about-card {
  border: #023E8A solid 1px;
  background-color: #F8F9FA;
  width: 50vh;
  padding: 3vh;
  margin: 10vh auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  p {
    color: #6c757d;
  }
}
