.footer-TCM {
  background-color: #023E8A;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
  }
  p {
    margin: 0 5vw;
    border-top: #ffffff solid 1px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
