.navbar-TCM {
  background-color: #023E8A;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  // margin: 0 5vw;
  position: sticky;
  top: 0;
}

.navbar-TCM-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
