.tabs-underlined {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.tabs-underlined .tab-underlined {
  color: #ffffff;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0px solid transparent;
  width: 20px;
  margin: 20px;
  font-size: 20px;
  transition: border-bottom 0.2s ease-in-out;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 2px solid #ffffff;
}
